# VS Code
.vscode/
*.code-workspace

# Compilados Java
*.class
*.jar
*.war
*.ear
*.xml

# Carpetas de build
/out/
/bin/
/target/
/build/

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml
.xml
.html
# Compilados Java
*.class
*.jar
*.war
*.ear

# Carpetas de build
/out/
/bin/
/target/
/build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos innecesarios
*.xml
description.html
